.todo{
    width: 300px;
    margin: 10px auto;
}

.header{
    margin-bottom: 10px;
}

.header-title{
    color: #000;
    border-bottom: 1px solid #ccc;
}

.form-group{
    display: flex;
    justify-content: space-between;
}

.new-input{
    width: 200px;
    padding: 4px 6px;
    border-radius: 4px;
}

.new-btn{
    padding: 4px 6px;
    border-radius: 4px;
    background-color: #157ffb;
    color: #fff;
    cursor: pointer;
}

.form-warn{
    color: red;
    font-size: 12px;
}

.list-view{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.view-complete{
    margin-top: 6px;
}

.view-label{
    max-width: 200px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.view-btn{
    padding: 4px 6px;
    border-radius: 4px;
}

.footer{
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
}

.footer-group .save-btn,
.footer-group .clear-btn{
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
}

.footer-group .save-btn{
    margin-right: 10px;
    background-color: #157ffb;
    color: #fff;
}

