.header-title{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.main-desc{
    font-size: 16px;
    margin-bottom: 4px;
}

.footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.footer-btn{
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
}